<section class="home" style="background-image: url('assets/mainpage1.jpg'); background-size: contain; background-position: center; height: 75vh;">
  <div class="homecontent">
    <h1 class="display-4">WEB-BASED DOCUMENT MANAGEMENT SYSTEM FOR DISASTER MANAGEMENT AGENCIES</h1>
    <div style="position: absolute; bottom: 0; left: 0; right: 0; margin-bottom: 20px;">
      <button class="btn btn-primary btn-lg mr-2" routerLink="/signup">Signup to your agency</button>
      <button class="btn btn-secondary btn-lg" routerLink="/login">User Login</button>
    </div>
  </div>
</section>
