<!DOCTYPE html>
<div class="container-fluid" *ngIf="!isLogged">
  <section class="home">
    <img class="img-fluid" src="assets/mainpage1.jpg" alt="My Image">

    <div class="homecontent">
      <h1 class="display-4">Web-based_Document_system</h1>
      <div>
        <button class="btn btn-primary btn-lg mr-2" routerLink="/signup">Signup to your agency</button>
        <button class="btn btn-secondary btn-lg" routerLink="/login">User Login</button>
      </div>
    </div>
  </section>
</div>



