<div class="container">
    <h2>Update Form</h2>
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="card-title text-center mb-0">Equipment Inventory</h4>
      <button class="btn btn-primary btn-sm ml-auto rounded-pill" routerLink="/equipmentinventory" style="position: absolute; top: 15px; right: 15px;">Back</button>
  </div>
  
    
    <form [formGroup]="form" (ngSubmit)="UpdateData()">
      <div class="form-group">
        <label for="DepartmentName">DepartmentName</label>
        <input type="text" class="form-control" id="DepartmentName" placeholder="Enter Department Name" formControlName="DepartmentName" required>
      </div>
      <div class="form-group">
        <label for="Project">Project</label>
        <input type="text" class="form-control" id="Project" placeholder="Enter Project" formControlName="Project" required>
      </div>
      
      <div class="form-group">
        <label for="DateOfProject">Date of Project</label>
        <input type="text" class="form-control" id="DateOfProject" placeholder="Enter date of Project" formControlName="DateOfProject" required>
      </div>
      <div class="form-group">
        <label for="EquipmentDescription">EquipmentDescription</label>
        <textarea class="form-control" id="EquipmentDescription" rows="3" placeholder="Enter EquipmentDescription" formControlName="EquipmentDescription" required></textarea>
      </div>
      
      <div class="form-group">
        <label for="location">SerialNo</label>
        <input type="text" class="form-control" id="SerialNo" placeholder="SerialNo" formControlName="SerialNo" required>
      </div>
      <div class="form-group">
        <label for="DateAcquired">Date Acquired Equipment</label>
        <input type="text" class="form-control" id="DateAcquired" placeholder="Enter Aquired equipment" formControlName="DateAcquired" required>
      </div>
      <div class="form-group">
        <label for="DateAcquired">Cost of Equipment</label>
        <input type="text" class="form-control" id="CostOfEquipment" placeholder="Enter Cost" formControlName="CostOfEquipment" required>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Enter description" formControlName="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="address">Comments</label>
        <textarea class="form-control" id="commentbox" rows="3" placeholder="commentbox" formControlName="commentbox" required></textarea>
      </div>
      
      
      
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
