<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Equipment Inventory Form</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/homepage">
            <i class="fa fa-home"></i> Home
          </a>
        </li>.
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fa fa-sign-out"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h2>Create Form</h2>
    <form [formGroup]="form" (ngSubmit)="SaveData()">

      <div class="form-group">
        <label for="DepartmentName"> DepartmentName</label>
        <input type="text" class="form-control" id="DepartmentName" placeholder="Enter department name" formControlName="DepartmentName" required>
      </div>
      <div class="form-group">
        <label for="Project"> Project</label>
        <input type="text" class="form-control" id="Project" placeholder="Enter Project" formControlName="Project" required>
      </div>

      <div class="form-group">
        <label for="DateOfProject">Project date needed Equipment for</label>
        <input type="text" class="form-control" id="DateOfProject" placeholder="Enter date of Project (MM/DD/YYYY)" formControlName="DateOfProject" required>
      </div>
      <div class="form-group">
        <label for="EquipmentDescription">Equipment Description</label>
        <input type="text" class="form-control" id="EquipmentDescription" placeholder="Equipment Description" formControlName="EquipmentDescription" required>
      </div>
  
      
    
      
      
      <div class="form-group">
        <label for="DateAcquired">Date Acquired Equipment</label>
        <input type="text" class="form-control" id="DateAcquired" placeholder="Enter acquired (MM/DD/YYYY)" formControlName="DateAcquired" required>
      </div>
      
      <div class="form-group">
        <label for="CostOfEquipment">CostOfEquipment</label>
        <input type="text" class="form-control" id="CostOfEquipment" placeholder="Enter CostOfEquipment" formControlName="CostOfEquipment" required>
      </div>
      <div class="form-group">
        <label for="SerialNo">SerialNo</label>
        <input type="number" class="form-control" id="SerialNo" placeholder="Enter SerialNo" formControlName="SerialNo" required>
      </div>
      <div class="form-group">
        <label for="description">Issues</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Enter description" formControlName="description" required></textarea>
      </div>
      <div class="form-group">
      
        <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="filePicker.click()">Select</button>
          <input class="Image" type="file" name="productImage" #filePicker (change)="select($event)" />
        </div>
        
        
      
      
    
    <button type="submit" class="btn btn-primary">Submit</button>
